[submodule "liblibra"]
	path = liblibra
	url = https://github.com/palliums-developers/violas-client
[submodule "libviolas"]
	path = libviolas
	url = https://github.com/palliums-developers/violas-client
    branch = v0.2
