[submodule "tomlkit"]
	path = tomlkit
	url = https://github.com/sdispater/tomlkit
[submodule "lbviolasclient"]
	path = lbviolasclient
	url = https://github.com/palliums-developers/libra-client
[submodule "lblibraclient"]
	path = lblibraclient
	url = https://github.com/palliums-developers/libra-client
[submodule "lbsafemsg"]
	path = lbsafemsg
	url = https://github.com/palliums-developers/safetymsg.git
[submodule "lbparseargs"]
	path = lbparseargs
	url = https://github.com/palliums-developers/parseargs
[submodule "lbdiemsdk"]
	path = lbdiemsdk
	url = https://github.com/libra/client-sdk-python.git
[submodule "lbcommunication"]
	path = lbcommunication
	url = https://github.com/palliums-developers/communication.git
